button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--third-color);
    border: none;
    padding: 5px 8px;
    border-radius: 12px;
    width: 100%;
    white-space: nowrap;
}

button:hover {
    background-color: #6fe3dc;
    cursor: pointer;
}